.wrapper {
    padding-top: calc(var(--spacing-xl) * 2);
    padding-bottom: calc(var(--spacing-xl) * 2);
    /* background-color: blue !important; */
}

.title {
    margin-bottom: var(--spacing-md);
    padding-left: var(--spacing-md);
    color: var(--white);
    font-family: Greycliff CF, var(--font-family);

    @mixin dark {
        background-color: blue !important;
        margin-bottom: var(--spacing-md);
        padding-left: var(--spacing-md);
        color: var(--black);
        font-family: Greycliff CF, var(--font-family);
        stroke-width: ;
    }
}


.item {
    font-size: var(--font-size-sm);
    color: var(--dark-1);

    @mixin dark {
        font-size: var(--font-size-sm);
        color: var(--gray-7);
    }
}